ion-toolbar{
    background-color: #f5f5f3;
    ion-button{
        text-transform: initial;
        font-size: 17px;

    }
}
ion-item{
    border-radius: 50px;
    height: 55px;
    box-shadow: 1px 8px 8px 0px rgba($color: #ffffff, $alpha: 0.08);
    --highlightheigth: 0px;
    margin-bottom: 25px;
    background-color: #444444;
    padding: 0;



    
    a{
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
}
ion-content{
    background-color: #f5f5f3;
  
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:30px;
    }
    h1{
        font-size: 700;
        font-weight: 26px;
        color:#f5f5f3;
        margin-bottom: 15%;
    }
    img{
        height: 125px;
        width: 100px;
        border-radius: 50%;
        box-shadow: 1px 8px 8px 0px rgba($color: #ffffff, $alpha: 0.2);

    }
    #form{
        margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    ion-button{
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba($color: #ffffff, $alpha: 0.08);
    }
    
}
h3{
 text-align: center; 
 color: #999999;
 font-size: 15px;

}
ion-input{
    font-size: 18px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-left: 15px;
    background-color: #444444;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50px;
    height: 55px;
    box-shadow: 1px 8px 8px 0px rgba($color: #ffffff, $alpha: 0.08);
    --highlightheigth: 0px;
    margin-bottom: 25px;
    background-color: #444444;
    text-indent: 10px;

}
ion-spinner{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(2);
    margin: auto;
  }